// This file is just a good starting point.
// Tweak it, break it, rebuild it — have fun! 🚀
//
// Looking for solid CSS frameworks?
// 👉 Check out: https://github.com/troxler/awesome-css-frameworks
//
// Or try mine — lightweight, flexible, and modern:
// 👉 https://github.com/marcop135/bullframe.css (bullframe.css)
// CDN:
// <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/marcop135/bullframe.css@latest/bullframe.min.css">

// test variables
body {
  background-color: main.$light;
  color: main.$dark;
}

// create a container
main {
  padding: 15px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

// responsive images by default
img {
  max-width: 100%;
  height: auto;
}

p.lead {
  font-size: 125%;
}

// test gulp-autoprefixer
input::placeholder {
  color: main.$gray;
}
