// this file is just a good starting point
//
// you may use my (S)CSS framework https://github.com/marcop135/bullframe.css
//
// ...this is a list of awesome CSS frameworks
// https://github.com/troxler/awesome-css-frameworks

// test variables
body {
  background-color: $light;
  color: $dark;
}

// create a container
main {
  padding: 15px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

// responsive images by default
img {
  max-width: 100%;
  height: auto;
}

p.lead {
  font-size: 125%;
}

// test gulp-autoprefixer
input::placeholder {
  color: $gray;
}
