// color variables
// Tip: you can do it in pure CSS too,
// see CSS custom properties (no IE support)
// https://developer.mozilla.org/en-US/docs/Web/CSS/--*

$light: #f0f0f0;
$gray: #888;
$dark: #222;