// Color Variables
//
// CSS Custom Properties (variables)
// https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_cascading_variables/Using_CSS_custom_properties

$light: #f0f0f0;
$gray: #888;
$dark: #222;
